@import url("satoshi.css");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");

body {
  margin: 0;
  padding-top: 70px;
  background-color: var(--grey-50);
}

body > * {
  margin: 0;
}

/* #region -> Fonts */

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: satoshi-bold;
  font-size: 2.75rem;
  line-height: 120%;
  color: var(--grey-900);
}

h2 {
  font-family: satoshi-bold;
  font-size: 2.25rem;
}

h3 {
  font-family: satoshi-bold;
  font-size: 1.75rem;
}

h4 {
  font-family: satoshi-light;
  font-size: 1.5rem;
  color: var(--grey-500);
  line-height: 120%;
}

p {
  font-family: satoshi-regular;
  color: var(--grey-800);
  line-height: 160%;
}

/* #endregion */

/* #region -> Spacing */

:root {
  --b8x1: 0.5rem;
  --b8x2: 1rem;
  --b8x3: 1.5rem;
  --b8x4: 2rem;
  --b8x5: 2.5rem;
  --b8x6: 3rem;
  --b8x7: 3.5rem;
  --b8x8: 4rem;
  --b8x9: 4.5rem;
  --b8x10: 5rem;
  --b8x11: 5.5rem;
  --b8x12: 6rem;
  --b8x13: 6.5rem;
  --b8x14: 7rem;
}

/* #endregion */

/* #region -> Colours */

/** hues **/
:root {
  --yellow-100: #fcf8e3;
  --yellow-200: #ffd91a;
  --yellow-300: #b29b24;

  --orange-100: #fcefe3;
  --orange-200: #f28218;
  --orange-300: #99520f;

  --green-100: #e3fcee;
  --green-200: #17e56d;
  --green-300: #0f9948;

  --turqoise-100: #e3fcfa;
  --turqoise-200: #00a698;
  --turqoise-300: #008c80;

  --blue-100: #e3f6fc;
  --blue-200: #17b1e5;
  --blue-300: #007399;

  --purple-100: #ece3fc;
  --purple-200: #5c17e5;
  --purple-300: #4a0099;

  --pink-100: #fcf2fa;
  --pink-200: #e517c3;
  --pink-300: #99007f;

  --red-100: #fce3e7;
  --red-200: #e51739;
  --red-300: #990019;
}

/** greys **/
:root {
  --grey-0: #ffffff;
  --grey-50: #faf9f7;
  --grey-100: #edf2f2;
  --grey-200: #d4d9d9;
  --grey-300: #bbbfbf;
  --grey-400: #a1a6a6;
  --grey-500: #848c8b;
  --grey-600: #6a7372;
  --grey-700: #4f5958;
  --grey-800: #37403f;
  --grey-900: #202626;
  --grey-1000: #0a0d0d;
}

/* #endregion */

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.relative {
  position: relative;
}

.mw-lrg {
  max-width: 1240px;
  padding-right: 20px;
  padding-left: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: var(--b8x10);
}

.mw-mdm {
  max-width: 1040px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

.mw-sm {
  max-width: 800px;
  margin: auto;
}

.mw-pg {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  row-gap: var(--b8x3);
  padding-bottom: var(--b8x7);
}
@media (max-width: 700px) {
  .mw-pg {
    max-width: unset;
  }
}

.mt-6 {
  margin-top: 6rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.flex-p {
  display: flex;
  column-gap: 0.4rem;
}

.teal {
  color: teal;
}

.light-grey {
  color: var(--grey-400);
}

.subtle-grey {
  color: var(--grey-300);
}

.small {
  font-size: 0.875rem;
}

.heavy {
  font-family: satoshi-black;
}

.bold {
  font-family: satoshi-bold;
}

.medium {
  font-family: satoshi-medium;
}

.light {
  font-family: satoshi-light;
}

.border-1r-subtle {
  padding-bottom: 1rem;
  border-bottom-style: solid;
  border-bottom-width: 0.1rem;
  border-bottom-color: var(--grey-400);
}

@media (min-width: 30em) and (max-width: 700px) project-card {
  padding: 2rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .wrap-when-small {
    flex-wrap: wrap;
  }
}

.row-nsp {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;

  &.wide-nsp {
    column-gap: 2rem;

    @media (max-width: 750px) {
      flex-wrap: wrap;

      .grow-column {
        width: 99%;
      }
    }
  }
}

.align-start {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.column {
  display: flex;
  flex-direction: column;
}

.column-1r {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.column-3r {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.divider {
  border-color: var(--grey-200);
  border-style: solid;
  border-width: 0.1px;
}

.max-w-full {
  max-width: 100%;
}

.orange {
  color: var(--orange-200);
}

.purple {
  color: var(--purple-200);
}

.blue {
  color: var(--blue-200);
}

.pink {
  color: var(--pink-200);
}

.red {
  color: var(--red-200);
}

.bg-grey-100 {
  background-color: var(--grey-100);
}
.bg-grey-200 {
  background-color: var(--grey-200);
}
.bg-grey-300 {
  background-color: var(--grey-300);
}
.bg-grey-400 {
  background-color: var(--grey-400);
}
.bg-grey-500 {
  background-color: var(--grey-500);
}
.bg-grey-600 {
  background-color: var(--grey-600);
}
.bg-grey-700 {
  background-color: var(--grey-700);
}
.bg-grey-800 {
  background-color: var(--grey-800);
}
.bg-grey-900 {
  background-color: var(--grey-900);
}

/* .hl-teal {
  background-color: var(--turqoise-100);
  color: var(--turqoise-300);
  padding: 0.5rem;
  border-radius: 0.2rem;
} */

.hl {
  background-color: var(--grey-100);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.pd-l-half {
  padding: ;
}

.txt-ora {
  color: var(--orange-200);
  font-family: satoshi-bold;
}

.txt-tur {
  color: var(--turqoise-200);
  font-family: satoshi-bold;
}

/*--- Component-specific ---*/

.job-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 601px) {
  .job-info-job {
    width: 26%;
  }
}

.education-section {
  display: flex;
  flex-wrap: wrap;
  h3 {
    width: 100%;
  }
}
.education-item {
  @media (max-width: 600px) {
    width: 100%;
  }
  width: 48%;
}

@media (max-width: 600px) {
  .resume-experiences {
    display: flex;
    flex-wrap: wrap;
    & > * {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
  }
  .resume-contactinfo {
    flex-wrap: wrap;
    row-gap: 0.33rem;
    margin-top: 1rem;
    & > * {
      width: 100%;
    }
  }
  .job-info-job {
    margin-bottom: 1rem;
  }
}

.main {
  min-height: 70dvh;
}

.resume {
  padding: 3rem;
  background-color: var(--grey-0);
  border-style: solid;
  border-width: 0.1rem;
  border-radius: var(--b8x2);
  border-color: var(--grey-200);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer {
  background-color: var(--grey-1000);

  p {
    color: var(--grey-0);
    font-family: satoshi-bold;
  }
  @media (min-width: 601px) {
    height: 150px;
  }

  padding: 65px;
}

.project-card {
  display: flex;
  flex-direction: row;
  background-color: var(--grey-0);

  @media (max-width: 700px) {
    flex-wrap: wrap;
    .project-content {
      order: 2;
    }
    & > img {
      width: 100%;
    }
  }

  .project-content {
    /* padding: var(--b8x4); */
    display: flex;
    flex-direction: column;
    row-gap: var(--b8x4);
    padding-bottom: 1rem;

    .project-header {
      display: flex;
      flex-direction: column;
      row-gap: var(--b8x2);
      margin: var(--b8x4);

      h2 {
        color: var(--pink-200);
      }

      .chip {
        background-color: var(--pink-100);
        display: inline-flex;
        padding: 0.5rem;
        border-radius: 0.25rem;
        align-items: center;
        column-gap: var(--b8x1);

        p {
          font-family: monospace;
          color: var(--pink-300);
        }

        .dot {
          height: 4px;
          width: 4px;
          background-color: var(--pink-200);
          border-radius: 50%;
          display: inline-block;
        }
      }

      .chip-group {
        display: flex;
        flex-direction: row;
        column-gap: var(--b8x2);
      }
    }

    .project-description {
      margin-left: var(--b8x4);
      margin-right: var(--b8x4);
      p {
        color: var(--grey-600);
      }
    }

    button,
    a.btn {
      display: flex;
      flex-direction: row;
      max-width: 250px;
      justify-content: center;
      justify-items: start;

      align-items: start;
      margin-left: var(--b8x4);
      color: var(--pink-200);
      background-color: var(--grey-0);
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-style: solid;
      border-radius: 10000px;
      border-color: var(--pink-200);
      font-family: satoshi-bold;
      gap: 0.5rem;

      img {
        margin: 0;
        padding: 0;
      }
    }
  }

  @media (min-width: 701px) {
    & > img {
      width: 50%;
      object-fit: cover;
      object-position: right;
    }
  }
}

nav {
  display: inline-flex;
  padding: var(--b8x1);
  align-items: center;
  gap: var(--b8x8);
  border-radius: 100000px;
  border: 0.5px solid var(--Neutral-200, #d4d9d9);
  background-color: var(--grey-0);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);

  ul {
    display: flex;
    flex-direction: row;
    column-gap: var(--b8x3);
    list-style: none;
    font-family: satoshi-medium;
    justify-content: space-around;
    width: 100%;

    align-items: center;
    flex-wrap: wrap;
  }

  li {
    a {
      padding: var(--b8x1) var(--b8x3) var(--b8x1) var(--b8x3);
      border-radius: var(--b8x12);
      color: var(--grey-1000);
      display: inline-block;
      &,
      &:hover {
        transition: all 0.15s;
      }
    }

    &.active-nav a {
      background-color: var(--grey-1000);
      color: var(--grey-0);
    }
    &:not(.active-nav) a:hover {
      background-color: var(--grey-100);
    }
  }
}

.head-column {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  flex-shrink: 0;

  &.grow-column {
    width: 50%;
  }
}

.pink-hl {
  background-color: var(--pink-100);
}

.about-container {
  min-height: 89vh;
}

section {
  padding-top: var(--b8x10);
  padding-bottom: var(--b8x10);
}

.content-block-pink {
}

.brand-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.moodboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  align-items: start;
}

.palette {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */

  align-items: start;
  gap: 3rem;
}

.website-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  justify-items: stretch;
  gap: 2rem;

  @media (min-width: 820px) {
    > * {
      width: 30%;
    }
  }

  img {
    width: 100%;
  }
}

.video-set-2,
.video-set-3 {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  video {
    @media (max-width: 700px) {
      max-width: 90%;
      max-height: 400px;
    }
  }
}
@media (min-width: 701px) {
  .video-set-2 video {
    max-width: 46%;
  }
  .video-set-3 video {
    max-width: 30%;
  }
}

.p-0 {
  padding: 0;
}

.mdm-text {
  font-size: 1.2rem;
}

.colour-palette {
  display: flex;
  flex-wrap: wrap;

  row-gap: 2rem;
  column-gap: 2rem;
}
/* @media (min-width: 600px) {
  .colour-palette {
    justify-content: space-between;
  }
} */

.hue-box {
  width: 144px;
  height: 3rem;
  border-radius: 0.5rem;
}

.hue {
  display: flex;
  flex-shrink: 0;
  width: 144px;

  padding: 15.36px 11.52px;
  flex-direction: column;
  align-items: center;
  gap: 7.2px;
  border-radius: 11.52px;
  border: 0.5px solid var(--Neutral-500, #848c8b);
  background: var(--Neutral-0, #fff);
}

.hue-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.box {
  border-style: solid;
  border-width: 0.2px;
  border-color: var(--grey-400);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 2rem 3rem;
  background-color: var(--grey-0);
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.05);

  ul {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }
}

.link {
  color: var(--pink-200);
}

.link:hover {
  background-color: var(--grey-100);
  border-radius: 2px;
  color: var(--purple-200);
}

.footer-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;

  @media (max-width: 600px) {
    flex-wrap: wrap;
    /* padding-bottom: 2rem; */
  }
}

.footer-link {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  justify-content: right;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom-color: var(--grey-0);
  }
}

@media (max-width: 520px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .header-logo {
    max-width: 42%;
    margin-bottom: 2rem;
    margin-top: -1rem;
  }
}

.hero-annotation-originally-from {
  @media (max-width: 1000px) {
    display: none;
  }
  position: absolute;
  top: -1lh;
  left: 70%;
  display: flex;
  align-items: start;
}

.hero-annotation-i-also-study {
  --arrow-width: 27px;
  --arrow-gap: 4px;

  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: end;
  gap: var(--arrow-gap);
  margin-top: -1rem;
  margin-left: 10px;
  width: 395px;
  max-width: 100%;

  .hero-annotation-arrow {
    width: var(--arrow-width);
  }
  .hero-annotation-text {
    max-width: calc(100% - var(--arrow-width) - var(--arrow-gap));
  }
  @media (min-width: 1100px) {
    margin-left: 240px;
  }
}
